<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Comments</title>
</head>
<body>
    <h1>Coment치rios</h1>
    <form action="/posts/{{postId}}/comments" method="POST">
        <input type="hidden" name="author" value="{{user.username}}">
        <span><strong>Autor:</strong> {{user.username}}</span>
        <input type="text" name="content" placeholder="Coment치rio" required>
        <button type="submit">Adicionar Coment치rio</button>
    </form>
    <ul>
        {{#if comments.length}}
            {{#each comments}}
                <li>
                    <strong>{{this.author}}:</strong>
                    <span>{{this.content}}</span>
                    {{#if (or (eq ../user.username this.author) (eq ../user.username 'admin'))}}
                    <form action="/posts/{{../postId}}/comments/{{this._id}}?_method=PUT" method="POST" style="display:inline;">
                        <input type="text" name="content" value="{{this.content}}" required>
                        <input type="hidden" name="author" value="{{this.author}}">
                        <button type="submit">Atualizar</button>
                    </form>
                    {{/if}}
                    {{#if (eq ../user.username 'admin')}}
                        <form action="/posts/{{../postId}}/comments/{{this._id}}?_method=DELETE" method="POST" style="display:inline;">
                            <button type="submit">Deletar</button>
                        </form>
                    {{/if}} 
                </li>
            {{/each}}
        {{else}}
            <li>Nenhum coment치rio ainda.</li>
        {{/if}}
    </ul>
    <button onclick="window.location.href='/posts'">Voltar para Posts</button>
</body>
</html>